# Created by https://www.toptal.com/developers/gitignore/api/c,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c,c++

### HTML ###

# End of https://www.toptal.com/developers/gitignore/api/HTML
