@charset "utf-8";
/* CSS Document */

/*Desktop View*/
html, 
html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to bottom, rgba(4,255,255,1.00) 0%, rgba(0,0,255,1.00) 50%, rgba(0,0,0,1.00) 100%);
	background-repeat: no-repeat;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

main {
	background-color: black;
	background-image: url(../../images/background.6.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 0.2em solid white;
	border-left: 0.2em solid white;
	border-right: 0.2em solid white;
	height: 598px;
}

aside {
	background-image: url(../../images/animated.1.gif);
	background-position: right;
	background-size:contain;
	font-size: 95%;
	padding: 590px 0px 0px;
}
