@charset "utf-8";
/* CSS Document */

/* Desktop View */
footer {
	background-color: black;
	border-bottom: 0.2em solid white;
	border-left: 0.2em solid white;
	border-right: 0.2em solid white;
}

/* design by */
.design_by {
	clear: both;
	color: white;
	float: left;
	font-size: 0.8em;
	margin: 0em;
	opacity: 0.9;
	padding-left: 1em;
	text-align: center;
}
.design_by a {
	color: yellow;
}
.design_by a:hover {
	color: yellow;
	font-weight: bold;
	text-decoration: none;
}

/* banner */

.banner{
	background-color: mediumaquamarine;
	background-image: url(../images/banner.2.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(0,0,0,0.00);
	font-size: 0.8em;
	text-align: center;
}

/* copyright */
.copyright_notice {
	color: white;
	float: right;
	font-size: 0.8em;
	margin: 0em;
	opacity: 0.9;
	padding-right: 1em;
	text-align: center;
}

/* Tablet View */
@media (max-width: 768px){

/* design by */
.design_by {
	font-size: 0.5em;
	padding-left: 0.01em;
}

.banner{
	font-size: 0.5em;
}

/* copyright */
.copyright_notice {
	font-size: 0.5em;
	padding-right: 0.1em;
}

}

/* Moblie View */
@media (max-width: 640px){

/* design by */
.design_by {
	font-size: 0.25em;
	padding-left: 0.01em;
}

.banner{
	font-size: 0.25em;
}

/* copyright */
.copyright_notice {
	font-size: 0.2em;
	padding-right: 0.1em;
}

}
