@charset "utf-8";
/* CSS Document */

/* Desktop View */
main {
	background-color: black;
	background-image: url(../images/background.6.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 0.2em solid white;
	border-left: 0.2em solid white;
	border-right: 0.2em solid white;
	height: 598px;
}

aside {
	background-image: url(../images/animated.1.gif);
	background-position: right;
	background-size:contain;
	font-size: 95%;
	padding: 590px 0px 0px;
}

article.main-text {
	background-color: dimgray;
	border: outset black;
	color: white;
	float: left;
	line-height: normal;
}