@charset "utf-8";
/* CSS Document */

/*Desktop View*/
html, 
html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to bottom, rgba(4,255,255,1.00) 0%, rgba(0,0,255,1.00) 50%, rgba(0,0,0,1.00) 100%);
	background-repeat: no-repeat;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}
